---
import BaseLayout from "../layouts/BaseLayout.astro";
import PagefindSearch from "../components/PagefindSearch.astro";
---

<BaseLayout title="搜索 - Yaxing Tan">
  <h1 style="font-size:2rem;margin-bottom:2rem;" data-i18n="nav.search">搜索</h1>
  <PagefindSearch />
</BaseLayout>
