<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js" type="module">
  import { PagefindUI } from "/pagefind/pagefind-ui.js";
  new PagefindUI({ element: "#search", showImages: false });
</script>
<div id="search"></div>
